body {
	margin: 0;
	padding: 0;
	line-height: 1.5em;
	font-family: Verdana, Arial, san-serif;
	font-size: 11px;
	color: #333333;
	background: #fff;
}

a:link, a:visited { color: #b7bd19; text-decoration: none; font-weight: bold; } 
a:active, a:hover { color: #d8df44; text-decoration: underline; }

img {
	padding: 0px;
	margin: 0px;
}

p {
	margin: 0px;
	padding: 0px;
	text-align: justify;
}

h1 {
	margin: 0 0 15px 0;
}

.cleaner {
	clear: both;
	width: 100%;
	height: 1px;
	font-size: 1px;	
}

.cleaner_with_height {
	clear: both;
	width: 100%;
	height: 30px;
	font-size: 1px;	
}

.cleaner_with_divider {
	clear: both;
	width: 100%;
	height: 15px;
	border-bottom: 1px solid #333;
	margin-bottom: 25px;
	font-size: 1px;	
}

#site_container {
	width: 960px;
	margin: 0 auto;
	padding: 0 5px;
	background: url(images/main_bg.jpg) repeat-y;
}


/* header */


#site_header #site_title {
	width: 960px;
	height: 240px;
	background: url(images/fruits2.jpg) no-repeat bottom;
	background-attachment: fixed !important;
	background-position: top center;
	background-size: cover cover;


}
/* end of header */
/* menu */
#site_menu {
	clear: both;
	width: 960px;
	height: 45px;
	background-color: red;
	background: url(images/menu_bg.OGsZD.jpg) right no-repeat;
}

#site_menu ul {
	padding: 0 0 0 10px;
	margin: 0 auto;
	height: 45px;
	list-style: none;
}

#site_menu ul li {
	float:left;
	padding-right: 5px;
}

#site_menu li a {
	float: left;
	display: block;
	color: #fff;
	font-size: 12px;
	height: 45px;
	line-height: 40px;
	text-align: center;
	padding: 0px 0 0 0px;	
}
#site_menu  li a b {
	display: block;
	padding: 0px 24px 0 24px;
}
#site_menu  li.current a, #site_menu  li a:hover {
	color: #b4c927;
	text-decoration: none;
	background: url(images/menu_hover_right.jpg) right top no-repeat; 
}
#site_menu  li.current a b, #site_menu li a:hover b {
	color: #b4c927;
	text-decoration: none;
	background: url(images/menu_hover_left.jpg) left top no-repeat;
}
/* end of menu */

/* top dishes */
#site_top_dishes {
	clear: both;
	width: 960px;
	padding: 50px 0px;
	
}

#site_top_dishes h1 {
	color: #1b2308;
	font-size: 24px;
	margin: 0 20px 15px 20px;
	padding: 0 0 15px 0;
	border-bottom: 1px dotted #1b2308;
}

#site_top_dishes h2 {
	font-size: 14px;
	color: #1f1f1f;
	margin: 0;
	padding: 0 0 5px 0;
}

/*#site_top_dishes p {
	margin: 0px;
	padding: 0px;
}*/

#site_top_dishes .top_dishes_box {
	float: left;
	width: 215px;
	margin-left: 20px;
}

#site_top_dishes .top_dishes_box img {
	margin-bottom: 15px;
	border: 5px solid #e1e0e0;
}
	
/* end of banner */

/* content */
#site_content {
	position: relative;
	color: #fff;
	width: 920px;
	padding: 0;
	margin-left: 20px;
	background: url(images/content_bg_middle.jpg) repeat-y;
}

#site_innter_content {
	background: url(images/content_bg_bottom.jpg) bottom center no-repeat;	
}

#site_content .top {
	position: absolute;
	display: block;
	top: 0;
	left: 0;
	width: 920px;
	height: 15px;
	background:url(images/content_bg_top.jpg) bottom center no-repeat;
}

#site_content .bottom {
	position: absolute;
	float: left;
	bottom: 0;
	left: 0;
	width: 920px;
	height: 175px;
	background: url(images/content_bg_bottom.jpg) bottom center no-repeat;
}

#site_content #site_content_left {
	float: left;
	padding: 40px 0 0 35px;
	width: 545px;
}

#site_content #site_content_right {
	float: right;	
	padding: 40px 35px 0 0;
	width: 245px;
	
}

 #site_content_left h1 {
	 font-size: 24px;
	 padding: 3px 0 15px 0;
	 margin: 0 0 15px 0;
 }


#site_content_left p {
	padding-bottom: 10px;
	margin: 0px;
}

#site_content_left img {
	float: left;
	margin: 3px 15px 0 0;
	border: 5px solid #4b5e1e;
}

#site_content_right h1 {
	color: #374712;
	font-size: 20px;
	height: 30px;
	margin: 0px;
	padding: 15px 0 0 20px;
	background: url(images/header_bg.jpg) no-repeat;
}

#site_content_right h2 {
	color: #b7bd19;
	font-size: 16px;
	margin: 0 0 5px 0;
	padding: 0 0 5px 0;
}

#site_content_right img {
	border: 5px solid #4b5e1e;
	margin: 0 0 5px 0;
}


#site_content_right p {
	margin: 0 0 5px 0;
	padding: 0 0 5px 0;
}

#site_content_right .right_column_section {
	clear: both;
	margin: 20px;
}
/* left column */

/* footer */
#site_footer {
	clear: both;
	width: 960px;
	margin-top: 30px;
	padding: 20px 0px 20px 0;
	text-align: center;
	background: #ced1c8;
}

#site_footer a {
	color: #333;
	font-weight: normal;
}
/*index1*/

.item{display: inline-flex;
	border: 2px solid green;
	border-radius:9px;
	margin:10px; 
	padding:7px; }
.item .main_body {display: inline-block;}

.title a{color:black;
	font-size:25px;
	font-weight:inherit;
	padding-left: 30px;
}


.description{font-size:"font-family:courier;";
	margin: 5px;
	padding:7px;
}

/* Column container */
.main {  
	display: flex;
	flex-wrap: wrap;
  }
  
  /* Create two unequal columns that sits next to each other */
  /* Sidebar/left column */
  .categories {
	flex: 20%;
	background-color: white;
	

  }
  
  /* Main column */
  .types {
	flex: 80%;
	background-color: white;
}
.t {
	padding: 10px;
	margin: 5px;
	display: flex;
	flex-wrap: wrap;
	padding-left: 60px;


}

.ttt{display: flex;
flex-direction: column;
padding: 10px;
}
/* end of footer */


/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
  padding-top: 10px;
  
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}
.topic{
	padding-left: 30px;
}
/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

